<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- 配置mysql分页拦截器 start -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- config params as the following -->
            <!--<property name="params" value="value1"/>-->
        </plugin>
    </plugins>

    <!-- 映射文件 已经在spring-context-mybatis.xml中配置，不要重复配置-->
    <!--<mappers>-->
        <!--<mapper resource="com/xxyd/mybatis/mapper/TestMapper.xml" />-->
    <!--</mappers>-->
</configuration>
